 .gameplay {
 	font-family: "Courier New, Courier, monospace";
 	font-size: 100pt;
    

 }

.icons {
	display: block;
	border: 3px solid black;
	margin: 0 auto;
	margin-bottom: 6px;
	float:middle;
}

.icon_descript {
	float-right;

}

.dropdown {
	height: 5vh;
}


 h1 {
    text-align: center;
    color: green;

}

h2 {
	font-family: "Courier New, Courier, monospace";
	font-size: 30pt;
	text-align: center;
}

body {
	background-image: url("paper.jpg");
    background-color: #cccccc;
    display: flex;
    justify-content: center;
}

p {
	font-size: 30px;
	text-align: center;

}

li {
	font-size: 30px;
	
}

ol {
	align-items: center;
}
